---
export interface Props {
    thought: {
        slug: string;
        data: {
            title: string;
        };
    };
}
const { thought } = Astro.props as Props;
const thoughtUrl = `/thoughts/${thought.slug}`;
---

<div class="thought-card-div">
    <a href={thoughtUrl} class="thought-card-link">
        <div class="thought-card">
            <header>
                <h2>{thought.data.title}</h2>
            </header>
        </div>
    </a>
</div>

<style>
    .thought-card-div {
        transition: transform 0.3s ease;
        background-color: black;
        border: 1px solid white;
        border-radius: 16px;
        width: 100%;
    }
    .thought-card-link {
        text-decoration: none;
    }
    .thought-card {
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 16px;
        align-content: center;
        height: 128px;
    }
    .thought-card h2 {
        font-size: 42px;
        color: white;
    }
    .thought-card-div:hover {
        transform: scale(1.02);
        border-color: #0091e1;
    }
    @media (max-width: 500px) {
        .thought-card h2 {
            font-size: 32px;
            color: white;
        }
    }
</style>
