/* ========================================================= */
/* GLOBAL STYLES                                             */
/* ========================================================= */

/* CURSOR */
a,
button,
input {
    cursor: url('/icons/circle2.svg') 8 8, auto;
}

html {
    /* Applies the HEX #1e1f20 to the background of the body */
    background-color: #1E1F20;
    /* Applies the HEX #fdfdfd to the text */
    color: white;
    /* Applies the Montserrat font-family to the text */
    font-family: 'Montserrat', sans-serif;
    /* Personalized cursor */
    cursor: url('/icons/circle.svg') 8 8, auto;
}

/* ========================================================= */
/* FONT STYLES                                               */
/* ========================================================= */

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-block-start: 8px;
    margin-block-end: 8px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-block-start: 8px;
    margin-block-end: 8px;
}


h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-block-start: 8px;
    margin-block-end: 8px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-block-start: 8px;
    margin-block-end: 8px;
}

p {
    font-size: 18px;
    font-weight: normal;
}

/* ========================================================= */
/* BACKDROP STYLES                                           */
/* ========================================================= */
.menu-backdrop {
    /* Set to cover the entire viewport */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Dark background with 70% opacity */
    background-color: rgba(0, 0, 0, 0.64);

    /* Ensure it is below the menu (z-index: 10) but above everything else */
    z-index: 8;

    /* Initially hide the overlay. Use opacity and transition for smooth fade. */
    opacity: 0;
    visibility: hidden;
    /* Use visibility/opacity for transition */
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

/* Toggled by JavaScript to make the overlay visible and opaque */
.menu-backdrop.visible {
    opacity: 1;
    visibility: visible;
}

/* Adjust your .nav-links z-index to ensure it stays on top of the backdrop */
.nav-links {
    /* ... existing styles ... */
    z-index: 10;
    /* Keep this at 10 to be above the backdrop's z-index of 9 */
    /* ... existing styles ... */
}