---
import BaseLayout from "../layouts/BaseLayout.astro";
import MusicSectionAnimated from "../components/MusicSectionAnimated.astro";
import ThoughtsSectionAnimated from "../components/ThoughtsSectionAnimated.astro";
import NewsletterSectionAnimated from "../components/NewsletterSectionAnimated.astro";
import "../styles/global.css";
const pageTitle = "Home Page";
const thoughtsText =
    "We’ve all been there. We set a goal for ourselves, we get excited, we create a strategy (sometimes), and we start doing it. But a few weeks pass by, and life happens. We don’t achieve it, and disappointment kicks-in. Does this sound familiar? Apparently this is the story thatWe’ve all been there. We set a goal for ourselves, we get excited, we create a strategy (sometimes), and we start doing it.";
---

<BaseLayout pageTitle={pageTitle}>
    <MusicSectionAnimated />
    <ThoughtsSectionAnimated text={thoughtsText} />
    <NewsletterSectionAnimated />
    <section id="code">
        <div class="subtitleDiv">
            <h2>Code projects_</h2>
            <button onclick="window.location.href='/code'"> </button>
        </div>
    </section>
</BaseLayout>
