---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle} ;>
    <section id="compositions">
        <div class="subtitleDiv">
            <h2>Musical Compositions</h2>
        </div>
    </section>
    <section id="thoughts">
        <div class="subtitleDiv">
            <h2>Thoughts</h2>
        </div>
    </section>
    <section id="newsletter">
        <div class="subtitleDiv">
            <h2>Newsletter</h2>
        </div>
    </section>
    <section id="code">
        <div class="subtitleDiv">
            <h2>Code projects_</h2>
        </div>
    </section>
</BaseLayout>
