---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Music Page";
---

<BaseLayout pageTitle={pageTitle}>
    <section id="compositions">
        <div class="titleDiv">
            <h2>These are my pieces :)</h2>
        </div>
    </section>
</BaseLayout>
