---
import Arrow from "/public/icons/arrow.svg";

const { href = "/" } = Astro.props;
---

<a href={href} class="navigation-arrow-a">
    <Arrow class="navigation-arrow-icon" />
</a>

<style>
    .navigation-arrow-a {
        position: fixed;
        left: 32px;
        top: 50%;
        z-index: 15;
    }
    .navigation-arrow-icon {
        position: absolute;
        width: 32px;
        height: 32px;
        color: white;
        transform: rotate(180deg);
    }

    .navigation-arrow-icon:hover {
        width: 32px;
        height: 32px;
        color: #0091e1;
    }
    /**
    * DISPLAY FOR MOBILE
    */
    @media (max-width: 900px) {
        .navigation-arrow-a {
            display: none;
        }
    }
</style>
