---

---

<footer>
    <a href="https://api.whatsapp.com/send?phone=4427172536" class="footer">
        <h3>The end?</h3>
    </a>
</footer>

<style>
    .footer {
        width: 100%;
        height: 32px;
        /* Basic styling for visibility */
        background-color: #1e1f20;
        /* Vertically center the logo */
        align-items: center;
        /* Removes the underline */
        text-decoration: none;
    }

    h3:hover {
        color: #0091e1;
    }
</style>
