<button
    id="menu-toggle"
    aria-expanded="false"
    aria-controls="main-menu-links"
    class="hamburger-button"
>
    <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M3 12H21"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        <path
            d="M3 6H21"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        <path
            d="M3 18H21"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
    </svg>
</button>

<style>
    .hamburger-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        display: block; /* This makes it appear on all screens */
        color: white;
    }

    .hamburger-button:hover {
        color: #0091e1;
    }
</style>
