---
// src/components/MusicSectionAnimated.astro
import Music1 from "../assets/music1.svg";
import Music2 from "../assets/music2.svg";
import Music3 from "../assets/music3.svg";
import Music4 from "../assets/music4.svg";

// Define the icons in an array to easily loop and render
const musicIcons = [
    Music1,
    Music2,
    Music3,
    Music4,
    Music1,
    Music2,
    Music3,
    Music4,
    Music1,
    Music2,
    Music3,
];
---

<section id="compositions">
    <div id="compositionsDiv" class="subtitleDiv">
        <h2>Musical Compositions</h2>
        <button onclick="window.location.href='/music'"> </button>
    </div>

    {
        musicIcons.map((Icon, index) => (
            <Fragment>
                <Icon class="music-icon" />
            </Fragment>
        ))
    }
</section>

<style>
    /*
    * MUSICAL COMPOSITIONS SECTION STYLES
    * These styles are now scoped to this component!
    */
    .music-icon {
        /* Set the starting position */
        translate: -50% -50%;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;

        /* Set size and color */
        width: 64px;
        height: 64px;
        color: white;

        /* Set the animation */
        transition: transform 1s ease-out;
    }

    /* NOTE: We must use the nth-of-type selector on the music-icon class
       because the Fragment wrapper means the SVG is the only element 
       of that 'type' (SVG) immediately following #compositionsDiv. 
       This structure works with your original CSS.
    */

    /* 1. Left and Up */
    #compositionsDiv:hover ~ .music-icon:nth-of-type(2) {
        /* Moves 200px Left (Negative X) and 150px Up (Negative Y) from the center */
        transform: translate(-250px, -200px);
        transition-delay: 0.1s;
        color: #0091e1;
        /* Set size and color */
        width: 32px;
        height: 32px;
    }

    /* 2. Far Right */
    #compositionsDiv:hover ~ .music-icon:nth-of-type(3) {
        /* Moves 350px Right (Positive X) and 20px Up (Negative Y) from the center */
        transform: translate(350px, -20px);
        transition-delay: 0.2s;
        /* Set size and color */
        width: 32px;
        height: 32px;
    }

    /* 3. Down and Left (Opposite of 1) */
    #compositionsDiv:hover ~ .music-icon:nth-of-type(4) {
        /* Moves 100px Left and 250px Down (Positive Y) from the center */
        transform: translate(-100px, 200px);
        transition-delay: 0.3s;
        color: #0091e1;
        /* Set size and color */
        width: 32px;
        height: 32px;
    }

    /* 4. Far Up */
    #compositionsDiv:hover ~ .music-icon:nth-of-type(5) {
        /* Moves 50px Left and 300px Up from the center */
        transform: translate(-50px, -300px);
        transition-delay: 0.4s;
    }

    /* 5. Down and left */
    #compositionsDiv:hover ~ .music-icon:nth-of-type(6) {
        /* Moves 150px Right and 100px Down from the center */
        transform: translate(-300px, 250px);
        transition-delay: 0.5s;
    }

    /* 6. Up, slightly centered */
    #compositionsDiv:hover ~ .music-icon:nth-of-type(7) {
        /* Moves 20px Right and 150px Up from the center */
        transform: translate(50px, -200px);
        transition-delay: 0.6s;
    }

    /* 7. Far Down */
    #compositionsDiv:hover ~ .music-icon:nth-of-type(8) {
        /* Moves 100px Right and 350px Down from the center */
        transform: translate(100px, 300px);
        transition-delay: 0.7s;
        color: #0091e1;
    }

    /* 8. Just outside the left border */
    #compositionsDiv:hover ~ .music-icon:nth-of-type(9) {
        /* Moves 300px Left and 50px Down from the center */
        transform: translate(-350px, 50px);
        transition-delay: 0.8s;
    }

    /* 9. Down and Right */
    #compositionsDiv:hover ~ .music-icon:nth-of-type(10) {
        /* Moves 250px Right and 250px Down from the center */
        transform: translate(250px, 200px);
        transition-delay: 0.9s;
        /* Set size and color */
        width: 128px;
        height: 128px;
    }

    /* 10. Up and Right */
    #compositionsDiv:hover ~ .music-icon:nth-of-type(11) {
        /* Moves 500px Right (Positive X) and 500px Up (Negative Y) from the center */
        transform: translate(300px, -300px);
        transition-delay: 1s;
        color: #0091e1;
    }
</style>
