---
import NewsletterModal from "../../components/newsletterComponents/NewsletterModal.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Newsletter";
---

<BaseLayout pageTitle={pageTitle}>
    <section class="newsletter">
        <NewsletterModal />
    </section>
</BaseLayout>
