---
import KitFormComponent from "../../components/newsletterComponents/KitFormComponent.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Newsletter";
---

<BaseLayout pageTitle={pageTitle}>
    <section class="newsletter">
        <KitFormComponent />
    </section>
</BaseLayout>
