---
import Header from "../components/globalComponents/Header.astro";
import Footer from "../components/globalComponents/Footer.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <title>{pageTitle}</title>

        <!-- SOCIAL IMAGE -->
        <meta
            property="og:title"
            content="Juanjo Hurtado | My Personal Website"
        />
        <meta
            property="og:description"
            content="Welcome to my personal website. Here you will find a self-help blog, a cool newsletter, and a showcase of my musical compositions & coding projects."
        />
        <meta property="og:url" content="https://juanjohurtado.com/" />
        <meta property="og:type" content="website" />
        <meta
            property="og:image"
            content="https://juanjohurtado.com/images/social-image.jpg"
        />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="Juanjo Hurtado | My Personal Website"
        />
        <meta
            name="twitter:description"
            content="Welcome to my personal website. Here you will find a self-help blog, a cool newsletter, and a showcase of my musical compositions & coding projects."
        />
        <meta
            name="twitter:image"
            content="https://juanjohurtado.com/images/social-image.jpg"
        />
    </head>
    <body>
        <div id="backdrop" class="menu-backdrop"></div>
        <Header />
        <section id="welcome">
            <div class="titleDiv">
                <h1>{pageTitle}</h1>
            </div>
        </section>
        <slot />
        <Footer />
    </body>
</html>
